version: '3.7'
services:

  # SQL database
  postgres:
    image: "postgres:15"
    volumes:
      - "tilleggsstonader-sak-data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "test"
      POSTGRES_DB: "tilleggsstonader-sak"

volumes:
  tilleggsstonader-sak-data: