name: Manuell deploy til dev
on:
  workflow_dispatch:
    inputs:
      skip-checks:
        description: "Skal jobben hoppe over testing og linting?"
        type: boolean
        required: false
        default: false

jobs:
  build-and-deploy:
    name: "Bygger app og deployer til dev-gcp"
    uses: navikt/tilleggsstonader/.github/workflows/java-build-and-deploy.yml@main
    secrets: inherit
    permissions:
      id-token: write
    with:
      cluster: "dev-gcp"
      manifest: ".nais/preprod.yaml"
      skip-checks: ${{ github.event.inputs.skip-checks }}
